{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
            <div class="row">
                <h1 class="col-md-12 my-5">Accéder à mon compte</h1>
                <div class="col-md-6">{{ render(url('app_login')) }}</div>
                <div class="col-md-6">{{ render(url('app_register')) }}</div>
            </div>
    </div>
{% endblock %}

